<!-- header start -->
<nav class="">
  <div class="container-fluid p-3">
    <div class="row ">
      <div class="col-12" id="header">
        <div class="d-flex justify-content-between">
          <div>
            <img src="../../images/LOGO.PNG" alt="Title Bar Image" width="30px" height="30px">
          </div>
          <div class="d-flex justify-content-end text-white fs-6 fw-bold">
              <a>Français(FR)</a>
              <a>EUR €</a>
              <a>Devenir hôte</a>
              <a>Créer son expérience</a>
              <a>Aide</a>
              <a>Inscription</a>
              <a>Connexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>  

<div class="flex-caption visible-lg m-5 w-25" id="book">
  <div class="container p-5">
    <div>
      <h3 class="title">
        <p>Réservez des</p>
        <p>hébergements et des</p>
        <p>activités uniques.</p>
      </h3>
    </div>
    <div class="d-block mb-2">
      <label>Où</label>
      <input type="text" placeholder="Partout">
    </div>
    <div class="d-flex" >  
      <div class="d-flex flex-column">
      <label>Arrivée</label>
      <input type="text" placeholder="jj/mm/aaaa">
      </div>
      <div class="d-flex flex-column">
      <label>Depart</label>
      <input type="text" placeholder="jj/mm/aaaa">
      </div>
    </div>
    <div class="d-block mb-2">
      <label >VOYAGEURS</label>
      <input type="text" placeholder="VOYAGEURS">
    </div>
      <div class="form-group">
        <button class="btn btn-danger float-end" type="submit">Rechercher</button>
      </div>
  </div>
</div>
</nav>
<!--header End -->


