a{
    margin-left: 30px;
}

nav {
    background: url('../../../src/images/bk.jpg') no-repeat;
    background-size: cover;
    max-height: 760px;
    max-width: 1366px;
    padding: 5px;
    margin: 0px;
    background-position: center;
}

    
