a{
    margin-left: 30px;
}
.hidden {
    display: none;
}
nav {
    background: url('../../../src/images/bk.jpg') no-repeat;
    background-size: cover;
    max-height: 760px;
    min-width: 1366px;
    width: 100%;
    padding: 5px;
    margin: 0px;
    background-position: center;
}

#book{
    background-color: white;
    border-radius: 4px;
    width: 391px;
    height: 508px;
    
}
#bginput{
    width: 343px;
    height: 48px;
}

#sminput{
    width: 172px;
    height: 48px;

}

input{
    margin-bottom: 2px;
    width: 100%;
    
}
button{
    width: 146px;
    height: 48px;
}
    
