<!-- header start -->
<nav *ngIf="!isMobile" class="">
  <div class="container-fluid p-3">
    <div class="row ">
      <div class="col-12" id="header">
        <div class="d-flex justify-content-between">
          <div>
            <img src="../../images/LOGO.PNG" alt="Title Bar Image" width="30px" height="30px">
          </div>
          <div class="d-flex justify-content-end text-white fs-6 fw-bold">
              <a>Français(FR)</a>
              <a>EUR €</a>
              <a>Devenir hôte</a>
              <a>Créer son expérience</a>
              <a>Aide</a>
              <a>Inscription</a>
              <a>Connexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <app-rechercher></app-rechercher>
</nav>
<!--header End -->

