.image-container {
    background: url('../../../../src/images/37ebf46cbcc93b4dc2e6e11e771edb55.jpg') no-repeat center center;
    background-size: cover;
    height: 310px;
    width: 100%;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
    top: 79px;
}