<div class="mt-5 mb-5 container ">
  <div>
    <h3>Hébergements Airbnb Plus</h3>
    <p> Une sélection de logements vérifiés selon des critères de qualité et de design</p>
  </div>
  <div class="image-container d-flex flex-column align-items-center justify-content-center ">
    <div class="container">
      <div class="text-center">
        <img src="../../../src/images/LOGO.PNG" width="124px" height="124px">
      </div>
    </div>
    <div class="container">
      <div class="">
        <div class="container bg-white mt-5 d-row border rounded w-25 ">
          <h6 class="p-3 d-flex justify-content-center fw-bold">Découvrir des logements<i
              class="ms-3 bi bi-chevron-right" style="color: black;"></i></h6>
        </div>
      </div>
    </div>
  </div>
</div>