<!-- start Explorer Airbnb -->
<div class="mt-5 mb-5 container">
	<h3>Explorer Airbnb</h3>
	<div class="mt-3">
		<div class="d-flex justify-content-between">
			<div *ngFor="let explorer of explorers"
				class="d-flex justify-content-between">
				<app-explorer [explorer]="explorer"></app-explorer>
			</div>
		</div>
	</div>
</div>
<!-- end Explorer Airbnb -->



































<!-- start Hébergements Airbnb Plus -->
<app-hebergements></app-hebergements>
<!-- end Hébergements Airbnb Plus -->



































<!-- start aventures Airbnb -->
<div class="mt-5 mb-5 container w-100">
	<div>
		<h3>
			Découvrez les aventures Airbnb
		</h3>
		<span>
			Voyages de plusieurs jours organisés par des experts locaux avec activités, repas
		</span>
		<p>
			et logements compris
		</p>
	</div>
	<div class="d-flex">
		<div *ngFor="let aventure of aventures"
			class="d-flex justify-content-between">
			<app-aventures [aventure]="aventure"></app-aventures>
		</div>
	</div>
</div>
<!-- end aventures Airbnb -->



































<!-- start logement -->
<div class="mt-5 mb-5 container">
	<div>
		<h3>
			Logements dans le monde entier
		</h3>
	</div>
	<div class=" mt-5 d-flex justify-content-between">
		<div *ngFor="let logement of logements1">
			<app-logement [logement]="logement"></app-logement>
		</div>
	</div>
	<div class=" mt-5 d-flex justify-content-between ">
		<div *ngFor="let logement2 of logements2">
			<app-logement [logement]="logement2"></app-logement>
		</div>
	</div>
</div>
<!-- end logement -->



































<!-- start experience -->
<div class="mt-5 mb-5 container ">
	<div>
		<h3>
			Expériences très bien notées
		</h3>
		<span>
			Voyages de plusieurs jours organisés par des experts locaux avec activités, repas
		</span>
		<p>
			et logements compris
		</p>
	</div>
	<div class="d-flex">
		<div *ngFor="let experience of experiences"
			class="d-flex justify-content-between">
			<app-aventures [aventure]="experience"></app-aventures>
		</div>
	</div>
</div>
<!-- end experience -->












<!-- start destination -->
<div class="mt-5 mb-5 container ">
	<div>
		<h3>
			Destinations Airbnb Plus à la Une
		</h3>
		<span>
			Voyages de plusieurs jours organisés par des experts locaux avec activités, repas
		</span>
		<p>
			et logements compris
		</p>
	</div>
	<div class="d-flex mt-5 justify-content-between">
		<div *ngFor="let destination of destinations">
			<app-destination [destination]="destination"></app-destination>
		</div>
	</div>
</div>
<!-- end destination -->
